:root {
    --body-font-weight: 400;
    --body-font-style: normal;

    --h1-Color: #03032d;
    --h-font-weight: 700;
    --h1-font-size: 22px;

    --header-background-color: #EF5350;


}


body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--body-font-weight);
    font-style: var(--body-font-style);
    line-height: 1.6;

}

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--h-font-weight);
    color: var(--h1-Color);
}

header {
    background-color: var(--header-background-color);
}

.navigation__logo img {
    height: 50px;
}

