:root {
  --body-font-weight: 400;
  --body-font-style: normal;

  --h1-Color: #03032d;
  --h-font-weight: 700;
  --h1-font-size: 22px;

  --header-background-color: #EF5350;


}


body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--body-font-weight);
  font-style: var(--body-font-style);
  line-height: 1.6;

}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h-font-weight);
  color: var(--h1-Color);
}

header {
  background-color: var(--header-background-color);
}

.navigation__logo img {
  height: 50px;
}


.button-class {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color:#eee;
  color: black;
  border: 2px solid #ddd;
  width: 99%;
  border-radius: 2px;
}

.button-class:hover {
  background-color: #ccc;
  color: black;
  border: 2px solid #ddd;

}

.container{
  margin: 0;
  border: solid 1px;
  margin-top: 5px;
  padding: 5px; 
}

.pokemon-list{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

}

ul{
  padding: 0px;
  
}

li {
  list-style-type: none;
}

/*Model css start  */

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}


#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999; 

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}
/*Model css end  */

.pokemon-img{
  border: #03032d solid 1px;  
  }  